* {
  box-sizing: border-box;
  font-family: Candara;
  overflow-wrap: break-word;
  margin: 0;
}

body {
  background-color: #393e46;
  color: #c5c6c7;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.cards-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1.5rem;
  z-index: 0;
  justify-content: center;
}

.card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card img {
  vertical-align: top;
  max-width: 100%;
}

.cardInfo h4 {
  margin: 0;
  padding: 0;
}

.cardInfo {
  color: #0b0c10;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#icon {
  height: 30px;
  width: 30px;
  flex-shrink: 0;
}

.cardDesc {
  background-color: #fff;
  color: #0b0c10;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  transform: translateY(102%);
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.card:hover .cardDesc {
  transform: translateY(0%);
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  flex-shrink: 0;
}

.cardDesc::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

header {
  background-color: #222831;
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 1);
  transition: max-height 10s;
}

.headerSmall {
  padding: 10px 1rem;
}

input {
  font-size: 1rem;
  padding-left: 6px;
  border: 0;
  text-align: left;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0 0.7rem;
  margin: 0;
}

.stats p {
  padding: 1rem 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

.error {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.spinnerWrapper {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 50px;
  width: 50px;
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid #222831;
  animation: spinner 0.8s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 10px 0;
    flex-direction: column;
  }

  .hiddenMobile {
    display: none;
  }
}
