* {
  box-sizing: border-box;
  font-family: Candara;
  overflow-wrap: break-word;
}

body {
  background-color: #0B0C10;
  color: #C5C6C7;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.card {
  width: 200px;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card img {
  vertical-align: top;
  max-width: 100%;
}

.cardInfo h4 {
  margin: 0;
  padding: 0;
}

.cardInfo {
  color: #0B0C10;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#icon {
  height: 30px;
  width: 30px;
  flex-shrink: 0;
}

.cardDesc {
  background-color: #fff;
  color: #0B0C10;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  transform: translateY(100%);
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  max-height: 100%;
}

.card:hover .cardDesc{
  transform: translateY(0%);
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  flex-shrink: 0;
}

.cardDesc::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

header {
  padding: 1rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0B0C10;
  margin: 0;
}

input {
  font-size: 1rem;
  padding-left: 6px;
  border-radius: 50px;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0 0.7rem;
  margin: 0;
}

.stats p {
  padding: 1rem 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

.error {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {

  header {
    flex-direction: column;
  }

  .card {
    width: 40%;
  }
}
